[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
conan = "*"
pillow = "*"
gcfpack = {git = "https://github.com/global-container-format/gcfpack"}

[requires]
python_version = "3"
