[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gcfpack = {git = "https://github.com/global-container-format/gcfpack"}

[dev-packages]
conan = "*"
pillow = "*"

[requires]
python_version = "3"
